<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">YourTravelTracker</a>
        
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <% if (typeof userName !== "undefined") { %>
                <div class="navbar-nav">
                    <a class="nav-link " style="<%=isVisited=='true'?'color: aqua;':'' %>" href="/destination?isVisited=true">VisitedPlaces</a>
                    <a class="nav-link " style="<%=isVisited=='false'?'color: aqua;':'' %>" href="/destination?isVisited=false">PlanToVisit</a>
                    <a class="nav-link  <%=AddDestination==`/destination/AddDestination?isVisited=${isVisited}`?'active':''%>" href="/destination/AddDestination?isVisited=<%=isVisited%>"><%=isVisited=='true'?'AddDestination':'PlanDestination' %></a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/logout">Logout</a> 
                </div>
                <% } else { %>
                <div class="navbar-nav ml-auto">
                    <a class="nav-link col" href="/register">Register</a>
                    <a class="nav-link col" href="/login">Login</a>   
                </div>
                <% } %>
                
            </div>
    </div>
</nav>
