
<% layout('layouts/boilerplate')%>

<style>
    textarea{  
        display: block;
        box-sizing: padding-box;
        overflow: hidden;
        font-size: inherit;
        margin: 20px auto;
        border-radius: 6px;
        box-shadow: 2px 2px 8px rgba(rgb(65, 170, 255), .3);
        border: 0;
        background-color:papayawhip !important;
        
       
    }
</style>
<style>
    h1{
        color:honeydew;
    }
    input{
        background-color:papayawhip !important;
    }
    .cardregister{
        background-image: url('https://res.cloudinary.com/shady346/image/upload/b_rgb:1db7d0,co_rgb:0bd2c9,o_42/v1616539530/YourTravelTracker/promotional/crop_wd6lyf.jpg');
        max-width: 720px;
        background-color:rgba(6, 2, 36, 0.836);
        opacity: 90% ;
        border-radius: 30px;
    }
    label{
        color: honeydew;
    }
    .invalid-feedback{
        color: gold;
    }
    .mycolor{
        background-color: rgb(35, 190, 211) !important;
        color: honeydew !important;
        
    }
    .mycolor:hover{
    background-color:rgb(141, 240, 243) !important;
        color:rgb(0, 138, 156) !important ;
    }

    #back-btn{
    background-color:rgb(83, 82, 90);
    color: cornsilk;
    border-radius: 10px;
}
</style>

    <div class="mx-auto mb-3" style="max-width: 720px;"">
    <a href="/destination/?isVisited=<%=isVisited%>">
        <button id="back-btn"class="btn">Back to List</button>
    </a>
    </div>
        
    <div class="cardregister mx-auto card px-2 py-3 shadow-lg">
        <h1 class="row justify-content-center mb-3"><%= isVisited=='true'?'Add Destination':'Plan Destination' %> </h1>
        <form action="/destination?isVisited=<%=isVisited%>" method="POST" class="row g-3 needs-validation mx-auto" enctype="multipart/form-data" novalidate>
            <div class="col-12">
              <label for="validationPlaceName" class="form-label">Title</label>
              <input type="text" class="form-control" id="validationPlaceName" name="destination[title]" placeholder="eg:trip to mountains" required>
              <div class="invalid-feedback">
                Title required!!
              </div>
            </div>
            
            <div class="col-12">
              <label for="validationLocation" class="form-label">Location <span class="" style="color:rgba(240, 249, 255, 0.904); font-size:small;">(also place Geo-marker)</span></label>
              <input type="text" class="form-control" id="validationLocation" name="destination[location]" placeholder="eg:manali,himachal pradesh" multiple required>
              <div class="invalid-feedback">
                Location Required!!
              </div>
            </div>
            
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add images <span class="" style="color:rgba(240, 249, 255, 0.904); font-size:small;">(support multiple images)</span></label>
                <input class="form-control form-control-sm" type="file" name="images" id="formFileMultiple" multiple>
            </div>

            <label class="px-1 font-monospace" style="font-size:.8rem" for="text-exp-rem">wordimit:(<span id="counttext">0</span>/500) </label>
            <textarea class='form-control card-text w-100 autoExpand px-3 ' id="text-exp-rem" name="destination[experience]" rows='3' data-min-rows='3' 
            ></textarea>
            
            <div class="col-12">
              <button class="btn w-100 mycolor" type="submit">Submit</button>
            </div>
          </form>
        </div>
        
        
        <div class="mx-auto mb-3" style="max-width: 720px;">
            <a href="/destination/AddDestination?isVisited=<%=isVisited=='false'%>" class="text-white link" ><%=isVisited?'Add visited Destination?':'Plan Destination?'%></a>
        </div>


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
            
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()

        window.addEventListener("keydown", function(e) {
            if(e.key==='Enter' && e.code==='Enter')
                if(e.target.nodeName=='INPUT' && (e.target.type=='text' ||e.target.type=='email' )){
                    e.preventDefault();
                    e.stopPropagation();
                    return false
                }
        }, true);
        
        </script>

        <script>
            function getScrollHeight(elm){
        var savedValue = elm.value
        elm.value = ''
        elm._baseScrollHeight = elm.scrollHeight
        elm.value = savedValue
        }
        let countText=document.querySelector('#counttext')
        countText.innerHTML=document.querySelector('#text-exp-rem').value.length

        function onExpandableTextareaInput({ target:elm }){
        // make sure the input event originated from a textarea and it's desired to be auto-expandable
        if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return
        
        var minRows = elm.getAttribute('data-min-rows')|0, rows;
        !elm._baseScrollHeight && getScrollHeight(elm)
        
        elm.rows = minRows
        rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 25)
        
        elm.rows = minRows + rows 

        countText.innerHTML=elm.value.length;
        }
        // global delegated event listener
        document.addEventListener('input', onExpandableTextareaInput)
        </script>

        <script>
    document.querySelector('body').style.backgroundImage="url('https://res.cloudinary.com/shady346/image/upload/v1616786264/YourTravelTracker/promotional/il_1140xN.927255957_qgw4_semnab.jpg')";
    document.querySelector('body').style.backgroundPosition="center center";
    document.querySelector('body').style.backgroundRepeat="";
    document.querySelector('body').style.backgroundSize="cover";
    document.querySelector('body').style.height="100%";
        </script>

