
    <% layout('layouts/boilerplate')%>
    <style>
        textarea{  
            display: block;
            box-sizing: padding-box;
            overflow: hidden;
            font-size: inherit;
            margin: 20px auto;
            border-radius: 6px;
            box-shadow: 2px 2px 8px rgba(rgb(65, 170, 255), .3);
            border: 0;
            background-color:rgba(255, 248, 218, 0.76) !important;
           
        }

        #dropdownMenuButton2{
            background-color:rgb(40, 137, 247);
            background-image: url("");
            background-size: cover;
            
        }
        #btn-exp-rem{
            background-color:rgb(14, 155, 190);
            color: cornsilk;
        }
        #btn-exp-rem:hover{
            background-color:rgb(41, 190, 228);
            color: cornsilk;
        }
        #btn-map{
            background-image: url("https://res.cloudinary.com/shady346/image/upload/v1616595768/YourTravelTracker/promotional/maps-icon_xevpb9.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 0, 0.795);
            color: cornsilk;
        }
        #btn-map:hover{
            background-color: rgba(107, 107, 107, 0.795);
        }

        #btn-cancel-text{
            background-color:  rgb(18, 107, 240);
        }
        #btn-cancel-text:hover{
            background-color: rgb(39, 165, 248);
        }
        #btn-update-text{
            background-color: rgb(11, 138, 74);
        }
        #btn-update-text:hover{
            background-color: rgb(9, 180, 123);
        }
    </style>

    <div class="card mb-3 mx-auto mt-3" style="max-width: 768px;">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-interval="false">
            <div class="carousel-inner">
                <% destination.images.forEach((img,i) => { %>
                    <div class="carousel-item <%= i===0?'active':'' %> ">
                        <img src=<%=img.url %>   class="d-block w-100" alt="...">
                    </div>
                 <% }) %> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        

        <div class="pb-2">
            <div class="mx-auto" style="background-color: rgba(6, 2, 36, 0.842);position: relative;text-align: center;">
                <h5 class="card-title   px-5 py-2 m-0" style="color: rgb(253, 214, 167);"><%=destination.title %> </h5>
                <div class="dropdown p-0" style="position:absolute;right:4px;top:2px">
                    <button class=" py-1 btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" 
                    data-bs-toggle="dropdown" aria-expanded="false"></button>
                    
                      <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/destination/<%=destination._id%>/edit?isVisited=<%=destination.isVisited%>">
                            Edit
                            </a>
                        <li><a id="btn-exp-em"  href="#" class="dropdown-item "><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></a>
                        <li><form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=DELETE" method="POST">
                            <button type="submit" class="dropdown-item">Delete</button>
                        </form></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
                            <button type="submit" class="dropdown-item"><%- destination.isVisited?'Unmark  &#x274E':' Mark  &#x2705' %></button>
                        </form></li>
                    </ul>
                  </div>
            </div>

            <div class="mx-auto row" style="background-color: rgba(201, 201, 201, 0.842);">
            <p class="card-title col-auto me-auto  pt-1 " style="color: rgb(1, 5, 51);"><strong>Location:</strong> <%=destination.location %> </p>
            </div>

            <p id="your-exp" class="card-text px-2 pt-2"><%=destination.experience %> </p>
            <p id="muted" class="card-text px-2 "><small class="text-muted" style="font-size: 13.5px;">Last updated <%=destination.modify %> </small></p>
        </div>



        <div class="row card-body pt-0 pb-2 " id="_3btndiv">
            
            <button id="btn-exp-rem" type="button" class="btn col-auto me-auto btn-info"><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></button>
            
            <div class="col-4 col-sm-3 col-md-2 p-0" >

                <button class="w-100 btn pe-1 " type="button" id="btn-map" >Map</button>
              </div>

        </div>





        <form id="_2btndiv" class="d-none px-2 pt-0 m-0 row card-body" action="/destination/<%=destination._id%>/textarea?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
            <label class="text-muted px-1 font-monospace" style="font-size:.8rem" for="text-exp-rem">wordimit:(<span id="counttext">0</span>/500) </label>
            <textarea class='form-control card-text w-100 autoExpand' id="text-exp-rem" name="review[textarea]" rows='3' data-min-rows='3' 
            placeholder=<%= destination.isVisited?'WriteYourxperience!!! ':'AddReminder!!' %> 
            autofocus><%=destination.experience %></textarea>
            <button type="button" id="btn-cancel-text" class=" btn  col-sm-2 col-auto me-auto">Cancel</button>
            <button type="submit" id="btn-update-text" class=" btn  col-sm-2 col-auto">Update</button>
        </form>
       
    </div>

    <script>

    </script>

    <script>
        function getScrollHeight(elm){
        var savedValue = elm.value
        elm.value = ''
        elm._baseScrollHeight = elm.scrollHeight
        elm.value = savedValue
        }
        let countText=document.querySelector('#counttext')
        countText.innerHTML=document.querySelector('#text-exp-rem').value.length

        function onExpandableTextareaInput({ target:elm }){
        // make sure the input event originated from a textarea and it's desired to be auto-expandable
        if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return
        
        var minRows = elm.getAttribute('data-min-rows')|0, rows;
        !elm._baseScrollHeight && getScrollHeight(elm)
        
        elm.rows = minRows
        rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 25)
        
        elm.rows = minRows + rows 

        countText.innerHTML=elm.value.length;
        }
        // global delegated event listener
        document.addEventListener('input', onExpandableTextareaInput)
    </script>

    <script>
        const btn_exp_rem = document.querySelector('#btn-exp-rem');
        const text_exp_rem = document.querySelector('#text-exp-rem');
        const _3btn = document.querySelector('#_3btndiv');
        const _2btn = document.querySelector('#_2btndiv');
        const btnCancel=document.querySelectorAll('#_2btndiv button')[0];
        const btnUpdate=document.querySelectorAll('#_2btndiv button')[1];
        const your_exp=document.querySelector('#your-exp');
        const muted=document.querySelector('#muted');

        const showToggle=function(){
         muted.classList.toggle("d-none");
         _3btn.classList.toggle("d-none");
        _2btn.classList.toggle("d-none");
        your_exp.classList.toggle("d-none")
        }



        btn_exp_rem.addEventListener('click', showToggle)
        btnCancel.addEventListener('click',showToggle);

        document.querySelector('body').style.backgroundImage="url('https://image.freepik.com/free-photo/watercolor-light-blue-purple-ombre-background-painting-texture_145343-379.jpg')";
    document.querySelector('body').style.backgroundPosition="center center";
    document.querySelector('body').style.backgroundRepeat="";
    document.querySelector('body').style.backgroundSize="cover";
    document.querySelector('body').style.height="100%";
    </script>

    
    
        



  