
    <% layout('layouts/boilerplate')%>

    <link rel="stylesheet" href="/Css/showPage.css">

    

    <div class="card mb-3 mx-auto mt-3" style="max-width: 768px;">
        <div id="map-crousel-div">
            <div id="map-div" class="" >
                <div id='map-box'></div>
                <pre id="coordinates" class="coordinates"></pre>
            </div>
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-interval="false">
                <div class="carousel-inner">
                    <% destination.images.forEach((img,i) => { %>
                        <div class="carousel-item <%= i===0?'active':'' %> ">
                            <img src=<%=img.url %>   class="d-block w-100" alt="...">
                        </div>
                     <% }) %> 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        
        <div class="pb-2">
            <div class="mx-auto" style="background-color: rgba(6, 2, 36, 0.842);position: relative;text-align: center;">
                <h5 class="card-title   px-5 py-2 m-0" style="color: rgb(253, 214, 167);"><%=destination.title %> </h5>
                <div class="dropdown p-0" style="position:absolute;right:4px;top:2px">
                    <button class=" py-1 btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" 
                    data-bs-toggle="dropdown" aria-expanded="false"></button>
                    
                      <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/destination/<%=destination._id%>/edit?isVisited=<%=destination.isVisited%>">
                            Edit
                            </a>
                        <li><a id="btn-exp-em"  href="#" class="dropdown-item "><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></a>
                        <li><form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=DELETE" method="POST">
                            <button type="submit" class="dropdown-item">Delete</button>
                        </form></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
                            <button type="submit" class="dropdown-item"><%- destination.isVisited?'Unmark  &#x274E':' Mark  &#x2705' %></button>
                        </form></li>
                    </ul>
                  </div>
            </div>

            <div class="mx-auto row" style="background-color: rgba(201, 201, 201, 0.842);">
            <p class="card-title col-auto me-auto  pt-1 " style="color: rgb(1, 5, 51);"><strong>Location:</strong> <%=destination.location %> </p>
            </div>

            <p id="your-exp" class="card-text px-2 pt-2"><%=destination.experience %> </p>
            <p id="muted" class="card-text px-2 "><small class="text-muted" style="font-size: 13.5px;">Last updated <%=destination.modify %> </small></p>
        </div>



        <div class="row card-body pt-0 pb-2 " id="_3btndiv">
            
            <button id="btn-exp-rem" type="button" class="btn col-auto me-auto btn-info"><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></button>
            
            <div class="col-4 col-sm-3 col-md-2 p-0" >

                <button class="w-100 btn pe-1 " type="button" id="btn-map" >Map</button>
              </div>

        </div>





        <form id="_2btndiv" class="d-none px-2 pt-0 m-0 row card-body" action="/destination/<%=destination._id%>/textarea?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
            <label class="text-muted px-1 font-monospace" style="font-size:.8rem" for="text-exp-rem">wordimit:(<span id="counttext">0</span>/500) </label>
            <textarea class='form-control card-text w-100 autoExpand' id="text-exp-rem" name="review[textarea]" rows='3' data-min-rows='3' 
            placeholder=<%= destination.isVisited?'WriteYourxperience!!! ':'AddReminder!!' %> 
            autofocus><%=destination.experience %></textarea>
            <button type="button" id="btn-cancel-text" class=" btn  col-sm-2 col-auto me-auto">Cancel</button>
            <button type="submit" id="btn-update-text" class=" btn  col-sm-2 col-auto">Update</button>
        </form>
       
    </div>



<script>
   var geometry = '<%- JSON.stringify(destination.geometry)%>';
   const MapToken = '<%-process.env.MAPBOX_TOKEN%>';
</script>

<script src="/javascript/showPage.js"></script>

    
    
        



