
    <% layout('layouts/boilerplate')%>
    <style>
        textarea{  
            display: block;
            box-sizing: padding-box;
            overflow: hidden;
            font-size: inherit;
            margin: 20px auto;
            border-radius: 6px;
            box-shadow: 2px 2px 8px rgba(rgb(65, 170, 255), .3);
            border: 0;
            background-color:papayawhip !important;
            
           
        }
    </style>

    <div class="card mb-3 mx-auto mt-3" style="max-width: 768px;">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-interval="false">
            <div class="carousel-inner">
                <% destination.images.forEach((img,i) => { %>
                    <div class="carousel-item <%= i===0?'active':'' %> ">
                        <img src=<%=img.url %>   class="d-block w-100" alt="...">
                    </div>
                 <% }) %> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        

        <div class="pb-2">
            <h5 class="card-title row justify-content-center m-auto py-1" style="background-color: rgba(6, 2, 36, 0.842);color: rgb(253, 214, 167);"><%=destination.title %> </h5>
            <p id="your-exp" class="card-text px-2"><%=destination.experience %> </p>
            <p id="muted" class="card-text px-2 "><small class="text-muted" style="font-size: 13.5px;">Last updated <%=destination.modify %> </small></p>
        </div>



        <div class="row card-body pt-0 pb-2 " id="_3btndiv">
            <a class="col px-0" href="/destination/<%=destination._id%>/edit?isVisited=<%=destination.isVisited%>">
            <button type="button" class="btn btn-outline-primary w-100">Edit</button>
            </a>
            <button id="btn-exp-rm" type="button" class="btn btn-outline-secondary col"><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></button>
            
            <div class="col dropup p-0">
                <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Visited
                  </button>
                
                  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                    <li><form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=DELETE" method="POST">
                        <button type="submit" class="dropdown-item">Delete</button>
                    </form></li>
                    <li><a class="dropdown-item" href="/destination/<%=destination._id%>/edit?isVisited=<%=destination.isVisited%>">
                        Edit
                        </a>
                    <li><a id="btn-exp-rem"  href="#" class="dropdown-item "><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></a>
                    <li><hr class="dropdown-divider"></li>
                    <li><form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
                        <button type="submit" class="dropdown-item"><%- destination.isVisited?'Unmark  &#x274E':' Mark  &#x2705' %></button>
                    </form></li>
                </ul>
              </div>

        </div>





        <form id="_2btndiv" class="d-none px-2 pt-0 m-0 row card-body" action="/destination/<%=destination._id%>/textarea?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
            <label class="text-muted px-1 font-monospace" style="font-size:.8rem" for="text-exp-rem">wordimit:(<span id="counttext">0</span>/500) </label>
            <textarea class='form-control card-text w-100 autoExpand' id="text-exp-rem" name="review[textarea]" rows='3' data-min-rows='3' 
            placeholder=<%= destination.isVisited?'WriteYourxperience!!! ':'AddReminder!!' %> 
            autofocus><%=destination.experience %></textarea>
            <button type="button" class=" btn btn-danger col">Cancel</button>
            <button type="submit" class=" btn btn-success col">Update</button>
        </form>
       
    </div>

    <script>

    </script>

    <script>
        function getScrollHeight(elm){
        var savedValue = elm.value
        elm.value = ''
        elm._baseScrollHeight = elm.scrollHeight
        elm.value = savedValue
        }
        let countText=document.querySelector('#counttext')
        countText.innerHTML=document.querySelector('#text-exp-rem').value.length

        function onExpandableTextareaInput({ target:elm }){
        // make sure the input event originated from a textarea and it's desired to be auto-expandable
        if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return
        
        var minRows = elm.getAttribute('data-min-rows')|0, rows;
        !elm._baseScrollHeight && getScrollHeight(elm)
        
        elm.rows = minRows
        rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 25)
        
        elm.rows = minRows + rows 

        countText.innerHTML=elm.value.length;
        }
        // global delegated event listener
        document.addEventListener('input', onExpandableTextareaInput)
    </script>

    <script>
        const btn_exp_rem = document.querySelector('#btn-exp-rem');
        const text_exp_rem = document.querySelector('#text-exp-rem');
        const _3btn = document.querySelector('#_3btndiv');
        const _2btn = document.querySelector('#_2btndiv');
        const btnCancel=document.querySelectorAll('#_2btndiv button')[0];
        const btnUpdate=document.querySelectorAll('#_2btndiv button')[1];
        const your_exp=document.querySelector('#your-exp');
        const muted=document.querySelector('#muted');

        const showToggle=function(){
         muted.classList.toggle("d-none");
         _3btn.classList.toggle("d-none");
        _2btn.classList.toggle("d-none");
        your_exp.classList.toggle("d-none")
        }



        btn_exp_rem.addEventListener('click', showToggle)
        btnCancel.addEventListener('click',showToggle);

        document.querySelector('body').style.backgroundImage="url('https://image.freepik.com/free-photo/watercolor-light-blue-purple-ombre-background-painting-texture_145343-379.jpg')";
    document.querySelector('body').style.backgroundPosition="center center";
    document.querySelector('body').style.backgroundRepeat="";
    document.querySelector('body').style.backgroundSize="cover";
    document.querySelector('body').style.height="100%";
    </script>
    
        



  