
    <% layout('layouts/boilerplate')%>
    <style>
        textarea{  
            display: block;
            box-sizing: padding-box;
            overflow: hidden;
            font-size: inherit;
            margin: 20px auto;
            border-radius: 6px;
            box-shadow: 2px 2px 8px rgba(rgb(65, 170, 255), .3);
            border: 0;
            background-color:papayawhip
            
           
        }
    </style>

    <div class="card mb-3 mx-auto" style="max-width: 720px;">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-interval="false">
            <div class="carousel-inner">
                <% destination.images.forEach((img,i) => { %>
                    <div class="carousel-item <%= i===0?'active':'' %> ">
                        <img src=<%=img.url %>   class="d-block w-100" alt="...">
                    </div>
                 <% }) %> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        

        <div class="card-body">
            <h5 class="card-title row justify-content-center"><%=destination.title %> </h5>
            <p id="your-exp" class="card-text"><%=destination.experience %> </p>
            <p id="muted" class="card-text"><small class="text-muted">Last updated <%=destination.modify %> </small></p>
        </div>

        <div class="row card-body " id="_3btndiv">
            <button type="button" class="btn btn-outline-primary col">Edit</button>
            <button id="btn-exp-rem" type="button" class="btn btn-outline-secondary col"><%=destination.isVisited?'WriteYourExperience':'AddReminder'%></button>
            <form class="col px-0" action="/destination/<%=destination._id%>?isVisited=<%=destination.isVisited%>&_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger w-100">Delete</button>
            </form>
        </div>

        <form id="_2btndiv" class="d-none px-2 pt-0 m-0 row card-body" action="/destination/<%=destination._id%>/textarea?isVisited=<%=destination.isVisited%>&_method=PUT" method="POST">
            <label class="text-muted px-1 font-monospace" style="font-size:.8rem" for="text-exp-rem">wordimit:(<span id="counttext">0</span>/500) </label>
            <textarea class=' card-text w-100 autoExpand' id="text-exp-rem" name="review[textarea]" rows='3' data-min-rows='3' 
            placeholder=<%= destination.isVisited?'WriteYourxperience!!! ':'AddReminder!!' %> 
            autofocus><%=destination.experience %></textarea>
            <button type="button" class=" btn btn-danger col">Cancel</button>
            <button type="submit" class=" btn btn-success col">Update</button>
        </form>
       
    </div>

    <script>
        function getScrollHeight(elm){
        var savedValue = elm.value
        elm.value = ''
        elm._baseScrollHeight = elm.scrollHeight
        elm.value = savedValue
        }
        let countText=document.querySelector('#counttext')
        countText.innerHTML=document.querySelector('#text-exp-rem').value.length

        function onExpandableTextareaInput({ target:elm }){
        // make sure the input event originated from a textarea and it's desired to be auto-expandable
        if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return
        
        var minRows = elm.getAttribute('data-min-rows')|0, rows;
        !elm._baseScrollHeight && getScrollHeight(elm)
        
        elm.rows = minRows
        rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 25)
        
        elm.rows = minRows + rows 

        countText.innerHTML=elm.value.length;
        }
        // global delegated event listener
        document.addEventListener('input', onExpandableTextareaInput)
    </script>

    <script>
        const btn_exp_rem = document.querySelector('#btn-exp-rem');
        const text_exp_rem = document.querySelector('#text-exp-rem');
        const _3btn = document.querySelector('#_3btndiv');
        const _2btn = document.querySelector('#_2btndiv');
        const btnCancel=document.querySelectorAll('#_2btndiv button')[0];
        const btnUpdate=document.querySelectorAll('#_2btndiv button')[1];
        const your_exp=document.querySelector('#your-exp');
        const muted=document.querySelector('#muted');

        const showToggle=function(){
         muted.classList.toggle("d-none");
         _3btn.classList.toggle("d-none");
        _2btn.classList.toggle("d-none");
        your_exp.classList.toggle("d-none")
        }



        btn_exp_rem.addEventListener('click', showToggle)
        btnCancel.addEventListener('click',showToggle);
    </script>
    
        



  