<% layout('layouts/boilerplate')%>

    <h1  class="row justify-content-center mb-3">Visited Destinations</h1>


    <% for(let destination of destinations) { %> 
    
    <div class="card mb-3 " style="max-width: 920px;">
        <div class="row g-0 row align-items-center">
            <a class="col-md-4 " href="/destination/<%=destination._id%>?isVisited=true">
                <img src=<%=destination.images.length?destination.images[destination.images.length-1]:'' %>  class="shadow" alt="..." style="max-width: 100%;">
            </a>
            <div class="col-md-8 container">
                <div class="card-body">
                    <h5 class="card-title"><b>Place:</b><%=destination.title%> <br><b>location:</b><%=destination.location%></h5>
                    <p class="card-text"><%= destination.experience.slice(0,80) %><a href="/destination/<%=destination._id%>?isVisited=true" class="link-info">(see more)</a> </p>
                    <a href="/destination/<%=destination._id%>?isVisited=true">
                        <button class="btn btn-info btn-sm" >Check Destination</button>
                    </a>
                    <p class="card-text"><small class="text-muted">Last updated <%= destination.modify %> </small></p>
                </div>
            </div>
        </div>
    </div>
    <% } %> 
